<h1 align="center"><font color="red">Common mistakes in Python</font></h1>

<font color="yellow">Data Scientist.: Dr. Eddy Giusepe Chirinos Isidro</font>

# <font color="yellow">Exemplo 1: `Use Lambda to Modify Values in Pandas Dataframe`</font>

In [1]:
import pandas as pd

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

df = pd.DataFrame(data)

df.rename(columns={0: 'coluna 1', 1: 'coluna 2', 2: 'coluna 3'}, inplace=True)

df

   coluna 1  coluna 2  coluna 3
0         1         2         3
1         4         5         6
2         7         8         9

In [2]:
def add_letter(x):
    return f"{x}a"


df["coluna 1"] = df["coluna 1"].apply(add_letter)


df

  coluna 1  coluna 2  coluna 3
0       1a         2         3
1       4a         5         6
2       7a         8         9

In [2]:
# Melhor assim:

df["coluna 1"] = df["coluna 1"].apply(lambda x: f"{x}Eddy")

df

  coluna 1  coluna 2  coluna 3
0    1Eddy         2         3
1    4Eddy         5         6
2    7Eddy         8         9

# <font color="yellow">Exemplo 2: `String concatenation`</font>