<h1 align="center"><font color="red">Common mistakes in Python</font></h1>

<font color="yellow">Data Scientist.: Dr. Eddy Giusepe Chirinos Isidro</font>

Link de estudo:

* [10 Python Mistakes](https://www.youtube.com/watch?v=b_4zLe5UaP4&t=5s)

# <font color="yellow">Exemplo 1: `Use Lambda to Modify Values in Pandas Dataframe`</font>

In [1]:
import pandas as pd

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

df = pd.DataFrame(data)

df.rename(columns={0: 'coluna 1', 1: 'coluna 2', 2: 'coluna 3'}, inplace=True)

df

   coluna 1  coluna 2  coluna 3
0         1         2         3
1         4         5         6
2         7         8         9

In [2]:
def add_letter(x):
    return f"{x}a"


df["coluna 1"] = df["coluna 1"].apply(add_letter)


df

  coluna 1  coluna 2  coluna 3
0       1a         2         3
1       4a         5         6
2       7a         8         9

In [2]:
# Melhor assim:

df["coluna 1"] = df["coluna 1"].apply(lambda x: f"{x}Eddy")

df

  coluna 1  coluna 2  coluna 3
0    1Eddy         2         3
1    4Eddy         5         6
2    7Eddy         8         9

# <font color="yellow">Exemplo 2: `String concatenation`</font>

In [3]:
name = "Eddy Giusepe Chirinos Isidro"

year = 1981

In [8]:
print("Este Cientista de Dados se chama " + name +  " e nasceu no ano de " + str(year))

Este Cientista de Dados se chama Eddy Giusepe Chirinos Isidro e nasceu no ano de 1981

In [9]:
# Melhor assim:

print(f"Este Cientista de Dados se chama {name} e nasceu no ano de {year}")

Este Cientista de Dados se chama Eddy Giusepe Chirinos Isidro e nasceu no ano de 1981

In [19]:
# Tambeḿ:

gpa = 3.356

print(f"Seu GPA é: {gpa:.2f}")

Seu GPA é: 3.36

In [23]:
# também:

import datetime

now = datetime.datetime.now()

print(f"Hoje é {now:%-d} de {now:%B}, {now:%Y} ")

Hoje é 20 de April, 2024

# <font color="yellow">Exemplo 3: `Iterate Over Multiple Lists with the zip() Function`</font>

In [1]:
capitals = ["Madrid", "Berlin", "Rome"]

cities = ["Barcelona", "Frankfurt", "Milan"]

countries = ["Spain", "Germany", "Italy"]

In [25]:
for i, city in enumerate(cities):
    country = countries[i]
    print(f"{city} é a cidade de {country}")

Barcelona é a cidade de Spain
Frankfurt é a cidade de Germany
Milan é a cidade de Italy

In [26]:
# Melhor, assim:

for city, country in zip(cities, countries):
    print(f"{city} é a cidade de {country}")

Barcelona é a cidade de Spain
Frankfurt é a cidade de Germany
Milan é a cidade de Italy

In [3]:
# Também:

for capital, city, country in zip(capitals, cities, countries):
    print(f"{city} é a cidade de {country}. A capital de {country} é {capital}.")

Barcelona é a cidade de Spain. A capital de Spain é Madrid.
Frankfurt é a cidade de Germany. A capital de Germany é Berlin.
Milan é a cidade de Italy. A capital de Italy é Rome.

# <font color="yellow">Exemplo 4: `Use List Comprehension`</font>

In [4]:
words = ["california", "florida", "texas"]

In [5]:
capitalized = []
for word in words:
    capitalized.append(word.title())

print(capitalized)

['California', 'Florida', 'Texas']

In [6]:
# Melhor, assim:

titulo = [word.title() for word in words]

print(titulo)

['California', 'Florida', 'Texas']

# <font color="yellow">Exemplo 5: `Use with Statement for file object`</font>

In [ ]:
# Pode usar assim, mas as vezes você pode esquecer de fechar ("f.close()")
f = open("dataset.txt", "w")
f.write('new_data')
f.close()

In [ ]:
# Melhor, assim:

with open("dataset.txt", "w") as f:
    f.write("new_data")

In [ ]:
# Pode usar assim, também:

import pickle

with open("test", "rb") as my_input:
    data = pickle.load(my_input)

# <font color="yellow">Exemplo 6: `Não usar demais o Loop for`</font>

In [7]:
import numpy as np

random_scores = np.random.randint(1, 100, size=10000001)

In [12]:
# Maneira errada:

count_failed = 0
sum_failed = 0
for score in random_scores:
    if score < 70:
        sum_failed += score
        count_failed += 1

#print(random_scores)
print("A mean é: ", sum_failed / count_failed)

A mean é:  34.99302336090945

In [13]:
type(random_scores)

numpy.ndarray

In [14]:
# Melhor maneira, usando NUMPY:
mean_failed = (random_scores[random_scores < 70]).mean()

print(mean_failed)

34.99302336090945